{% extends 'base.html' %}

{% block title %} Upcoming Game {% endblock title %} 

{% block content %}
{% load static %}

<p>I've been practicing parkour since 2017. It's a really amazing sport and I've meet some of the most amazing people!</p>

<h3>Voltz Parkour 2019 (National Championship)</h3>
<p>Silver - Freestyle Category</p>
<a href="https://www.instagram.com/p/B6rGV1MhmfG/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">Competition Video</a>
<p><img src="{% static 'media/parkour/podio2019.jpg' %}" style="max-height: 300px;"></p>
<p><img src="{% static 'media/parkour/voltz2019.jpg' %}" style="max-height: 300px;"></p>

<h3>TCP Team Parkour Championship 2022</h3>
<a href="https://www.instagram.com/tv/Cd8xncEtvcp/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">Competition Video</a>

<h3>CWB Championship 2022</h3>
<p>Gold - Skill Category</p>

<h3>Move4Life Championship 2024</h3>
<p>Gold - Freestyle Category</p>
<p>Bronze - Speed Category</p>
<a href="https://www.instagram.com/reel/DBwLq2Wxdtu/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">Competition Video</a>

<h3>Voltz Parkour 2024 (National Championship)</h3>
<p>Bronze - Freestyle Category</p>
<a href="https://www.instagram.com/reel/DCku5n7xe7A/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">Competition Video</a>
<p><img src="{% static 'media/parkour/voltz2024.jpg' %}" style="max-height: 500px;"></p>

{% load static %}

{% endblock content %}