{% extends 'base.html' %}

{% block title %} Upcoming Game {% endblock title %} 

{% block content %}
{% load static %}
<br>

<p>I'm planning on realeasing my own steam game! It's yet far from finished, but I really want to see it coming to life! </p>
<br>

<p>The main character I created: </p>
<div class="projects-grid">
    <p><img src="{% static 'media/steamgame/main-char.png' %}" style="max-height: 300px;"></p>
    <p><img src="{% static 'media/steamgame/main-char-fly.png' %}" style="max-height: 300px;"></p>
</div>

<p>And a sneak peek into the first steps of the development process: </p>

<p><img src="{% static 'media/steamgame/mygame.png' %}" style="max-height: 500px;"></p>

{% endblock content %}