{% extends 'base.html' %}

{% block title %} The Island {% endblock title %} 

{% block content %}
{% load static %}
<br>

<p>A game I made for a college elective class, that eneded up being at the "USP 90 Anos" exposition!</p>

<p>It was my second experience building a 3D VR game by myself in Unity, after the my Ballistic Simulator made for a Scientific Research.</p>
<p>The game gave me the opportunity to participate in the 3DUI IEEE VR 2024 Competition with an Educational VR Project - we build a PokeDots calculator!</p>
<p> This led me to my interniship in Virtual Reality development at InovaUSP! </p>
<br>
<p>I learnt a lot about materials, raycasting, shaders, terraing building and standalone porting!</p>

<section id="socials">
<h3><a href="https://github.com/palomaspbr/Escape-Ilha-Expo">Github Repo</a></h3>
</section>


<p><img src="{% static 'media/theisland/island1.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/theisland/island2.png' %}" style="max-height: 500px;"></p>


<div class="projects-grid">
    <p><img src="{% static 'media/theisland/island3.1.png' %}" style="max-height: 350px;"></p>
    <p><img src="{% static 'media/theisland/island3.2.png' %}" style="max-height: 350px;"></p>
</div>
<div class="projects-grid">
    <p><img src="{% static 'media/theisland/island4.1.png' %}" style="max-height: 500px;"></p>
    <p><img src="{% static 'media/theisland/island4.2.png' %}" style="max-height: 500px;"></p>
</div>

{% endblock content %}