{% extends 'base.html' %}

{% block title %} This Website {% endblock title %} 

{% block content %}
{% load static %}

<p>This website is a project I built for improving my knowledges in both frontend and backend. I learnt the basics in college and wanted to try by mylself!</p>
<p>It was also a challange to set up my own domain and hosting, but I really enjoyed the process and definetly improved a lot while makin it.</p>

<br>

<p><img src="{% static 'media/website/base.png' %}" style="max-height: 500px;"></p>

<div class="projects-grid">
<p><img src="{% static 'media/website/customprojects.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/website/views.png' %}" style="max-height: 500px;"></p>
</div>

<br>


{% endblock content %}