{% extends 'base.html' %}

{% block title %} Treasure Island {% endblock title %} 

{% block content %}
{% load static %}

<br>


<p>My first try at 2D game development, a short cozy game full of riddles!</p>
<p>Here's the itch.io page: </p>
<section id="socials">
<h2><a href="https://palomaspbr.itch.io/treasure-island">https://palomaspbr.itch.io/treasure-island</a></h2>
</section>

<br>
<br>

<p>I made the animations myself!</p>

<p><img src="{% static 'media/treasureisland/corgi.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/treasureisland/idleleft.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/treasureisland/idledown.png' %}" style="max-height: 500px;"></p>

<br>
<br>

<p>Here are some of the levels: </p>

<p><img src="{% static 'media/treasureisland/1.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/treasureisland/2.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/treasureisland/3.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/treasureisland/4.png' %}" style="max-height: 500px;"></p>
<p><img src="{% static 'media/treasureisland/5.png' %}" style="max-height: 500px;"></p>

<br>

{% endblock content %}